html {
    font-size: 62.5%;
}


*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ff-primary:  "Montserrat", sans-serif;

    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);

    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: var(--ff-primary);
    background-color: var(--Cream);
}

/* main */
.main--content {
    display: flex;

    width: 600px;
    margin: 100px auto 50px;

    border: 2px solid #000000;

    border-radius: 1.3rem;
}


.perfume-image {
    width: 50%;
    border-radius: 1.3rem 0 0 1.3rem;
}
.perfume-image img{
    width: 100%;
    height: 100%;
    border-radius: 1.3rem 0 0 1.3rem;
}

/* content  */
.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    background-color: var(--White);
    padding: 2.5rem;
    border-radius: 0 1.3rem 1.3rem 0;
}

.content h3 {
    color: var(--Grey);
    letter-spacing: 0.5rem;
    font-weight: 800;
}

.content h1 {
    font-family: "Fraunces", serif;
    font-size: 3.3rem;
    line-height: 35px;
}

.content p {
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: var(--Grey);
    font-weight: 600;
    text-align: start;
    word-spacing: 2px;
}

/* price */

.price {
    font-family: "Fraunces", serif;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.price #discount {
    font-weight: bold;
    color: var(--green-500);
    font-size: 3rem;
}
.price #original__price {
    text-decoration: line-through;
    color: var(--Grey);
    font-weight: 500;
}


/* button */

.content button {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    background-color: var(--green-500);
    color: var(--White);
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}